{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}

        <h2>All Posts</h2>
    <!-- Create Post Form -->
            <form id="create-post">

                <div class="card">
                    <div class="card-header">
                        <label for="post-body"><strong>Create Post</strong></label>
                    </div>
                <div style="padding: 0;" class="card-body">
                <textarea class="form-control" id="post-body" rows="3"></textarea>
                </div>
                  <div style="padding-top: 5px; padding-bottom: 5px;" class="card-footer">
                    <div style="text-align: right;">
                        <input style="margin-top: 5px; margin-bottom: 5px;" id="submit_post" type="submit" value="Post" class="btn btn-primary"/>
                    </div>
                  </div>
                </div>
            </form>
    <!-- End Of Create Post Form -->

    <!-- POSTS -->
    {% include 'network/posts.html' %}





    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}

{% endblock %}