{% extends "network/layout.html" %}

{% block body %}
    <!-- USER PROFILE INFORMATION -->
    {% if user.is_authenticated %}
        {% if user_data %}
        <h2><i class="fa fa-user"></i>&nbsp;{{ user_data.username }}'s Profile</h2>
            <div>
                <div id="profile_menu"><span id="following-count">{{ user_data.following|length }}</span> Following
                <span id="followers-count">{{ user_data.followers|length }}</span> Followers</div>
                {% if not user.id == user_data.id %}
                    {% if user.id in user_data.followers %}
                        <button id="follow-button" class="btn btn-danger btn-sm">Un-Follow</button>
                        <script>
                            document.querySelector('#follow-button').addEventListener("click", () => {

                                follow_toggler({{ user_data.id }});

                            });

                        </script>
                    {% else %}
                        <button id="follow-button" class="btn btn-primary btn-sm">Follow</button>
                        <script>
                            document.querySelector('#follow-button').addEventListener("click", () => {

                            follow_toggler({{ user_data.id }});

                            });
                        </script>
                    {% endif %}
                {% endif %}
            </div>
        {% else %}
        <h2>Profile Page</h2>
        {% endif %}
        <hr>
    <!-- END USER PROFILE INFORMATION SECTION -->

    <!-- POSTS -->
    {% include 'network/posts.html' %}

    <!-- END POST SECTION -->

    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endblock %}