#post-container {
    margin-top: 10px;
    padding-top: 10px;
}

.pagination > li > a
{

    color: darkslategray;
}

.pagination > li.active > span
{
    color: whitesmoke;
    background-color: #6c757d   !Important;
    border: solid 1px #6c757d  !Important;
}

.pagination > li > a:hover {
    color: darkslategray;
}

body {
    padding-bottom: 30px;
    background-color: #f0f0f0;
}

.card a:hover {
    text-decoration: none;
    text-decoration-color: orange;
    font-weight: bolder;

}

.card a {
    font-family: sans-serif;
    font-size: 18px;
}

h2 {
    margin-top: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    height: 100px;
    resize: none;
    border-radius: 0;
}

#profile_view {
    display: none;
}

#follow-button {
    margin-top: 10px;
}

#profile_menu {
    font-family: sans-serif;
    font-size: 16px;
    color: darkslategray;
}

#profile_menu span {
    font-weight: bolder;
    font-size: 18px;
    color: black;
}


#posts_view {
    display: none;
}

#following_view {
    display: none;
}

i.fa-heart {
    color: darkgray;
}

i:hover {
    cursor: pointer;
}

#separator {
    font-size: 24px;
    font-weight: lighter;
    color: darkgray;
}

button[id^='save-button-'] {
    margin-top: 5px;
}

#create-post {
    margin-bottom: 20px;
}


